<div class="row">
  <div id="fb-root"></div>
  <script>
    window.fbAsyncInit = function() {
    // init the FB JS SDK
    FB.init({
    appId      : '386008508137576', // App ID from the App Dashboard
    channelUrl : '//localhost:9292//channel.html', // Channel File for x-domain communication
    status     : true, // check the login status upon init?
    cookie     : true, // set sessions cookies to allow your server to access the session?
    xfbml      : true  // parse XFBML tags on this page?
    });

    // Additional initialization code such as adding Event Listeners goes here

    };

    // Load the SDK's source Asynchronously
    (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=386008508137576";
    fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
  </script>


  <div class="span12">
    <script language="javascript" type="text/javascript">
      var gameInfo = '<%= @game.to_json %>';
      var userInfo = '<%= @userInfo.to_json %>';

      function ShowGameID(){
      game = jQuery.parseJSON(gameInfo);
      alert(game.gameId);
      }

    </script>

    


    <div class='DebugBox'>
      VS
      <div class="PlayerBox">
        <div class="PlayerBox1">
          <% @graphPlayer1 = Koala::Facebook::API.new(session[:access_token]) %>
          <div class="PlayerBox1_img">
            <img src="<%= @graphPlayer1.get_picture('me') %>" />
            </br>
            <%= @game.player1UserName %>
          </div>

          <div class="PlayerBox2_img">
            <% @graphPlayer2 = Koala::Facebook::API.new(@challenger.tokken) %>
            <img src="<%= @graphPlayer2.get_picture('me') %>" class="PlayerBox2_img" />
            </br>
            <%= @game.player2UserName %>
          </div>
        </div>

        <div class="fb-comments" data-href="<%= @game.url %>" data-num-posts="5" data-width="300">
        </div>

        <div id="DebugJs" name="DebugJs"></div>

        Debug
        <br />
        <input type="text" id="DebugText" name="DebugText" class="DebugInfo" />
        <br />
        Turno: <br />
        <input type="text" id="DebugText2" name="DebugText2" class="DebugInfo" />


        <input type="button" onclick='javascript:$("#AlertBox").toggle("slow");return'></input>
      </div>
    </div>
    <div class="ChessBoard">

      <div class="alert" style='display:none' id='AlertBox' name='AlertBox'>
        <button type="button" class="close" data-dismiss="alert">×</button>
        <strong>JUEGO!</strong> Es tu turno, use su mejor estrategia.
      </div>

      <div class="BaseLine">

        <div id="A8" draggable='true' class='BaseBox ColorW BlackTower'></div>
        <div id="B8" draggable='true' class='BaseBox ColorB BlackHorse'></div>
        <div id="C8" draggable='true' class='BaseBox ColorW BlackBishop'></div>
        <div id="D8" draggable='true' class='BaseBox ColorB BlackQueen'></div>
        <div id="E8" draggable='true' class='BaseBox ColorW BlackKing'></div>
        <div id="F8" draggable='true' class='BaseBox ColorB BlackBishop'></div>
        <div id="G8" draggable='true' class='BaseBox ColorW BlackHorse'></div>
        <div id="H8" draggable='true' class='BaseBox ColorB BlackTower'></div>

      </div>

      <div class="BaseLine">

        <div id="A7" draggable='true' class='BaseBox ColorB BlackPawn'></div>
        <div id="B7" draggable='true' class='BaseBox ColorW BlackPawn'></div>
        <div id="C7" draggable='true' class='BaseBox ColorB BlackPawn'></div>
        <div id="D7" draggable='true' class='BaseBox ColorW BlackPawn'></div>
        <div id="E7" draggable='true' class='BaseBox ColorB BlackPawn'></div>
        <div id="F7" draggable='true' class='BaseBox ColorW BlackPawn'></div>
        <div id="G7" draggable='true' class='BaseBox ColorB BlackPawn'></div>
        <div id="H7" draggable='true' class='BaseBox ColorW BlackPawn'></div>

      </div>

      <div class="BaseLine">

        <div id="A6" draggable='true' class='BaseBox ColorW '></div>
        <div id="B6" draggable='true' class='BaseBox ColorB '></div>
        <div id="C6" draggable='true' class='BaseBox ColorW '></div>
        <div id="D6" draggable='true' class='BaseBox ColorB '></div>
        <div id="E6" draggable='true' class='BaseBox ColorW '></div>
        <div id="F6" draggable='true' class='BaseBox ColorB '></div>
        <div id="G6" draggable='true' class='BaseBox ColorW '></div>
        <div id="H6" draggable='true' class='BaseBox ColorB '></div>

      </div>

      <div class="BaseLine">

        <div id="A5" draggable='true' class='BaseBox ColorB '></div>
        <div id="B5" draggable='true' class='BaseBox ColorW '></div>
        <div id="C5" draggable='true' class='BaseBox ColorB '></div>
        <div id="D5" draggable='true' class='BaseBox ColorW '></div>
        <div id="E5" draggable='true' class='BaseBox ColorB '></div>
        <div id="F5" draggable='true' class='BaseBox ColorW '></div>
        <div id="G5" draggable='true' class='BaseBox ColorB '></div>
        <div id="H5" draggable='true' class='BaseBox ColorW '></div>

      </div>

      <div class="BaseLine">

        <div id="A4" draggable='true' class='BaseBox ColorW '></div>
        <div id="B4" draggable='true' class='BaseBox ColorB '></div>
        <div id="C4" draggable='true' class='BaseBox ColorW '></div>
        <div id="D4" draggable='true' class='BaseBox ColorB '></div>
        <div id="E4" draggable='true' class='BaseBox ColorW '></div>
        <div id="F4" draggable='true' class='BaseBox ColorB '></div>
        <div id="G4" draggable='true' class='BaseBox ColorW '></div>
        <div id="H4" draggable='true' class='BaseBox ColorB '></div>

      </div>

      <div class="BaseLine">

        <div id="A3" draggable='true' class='BaseBox ColorB '></div>
        <div id="B3" draggable='true' class='BaseBox ColorW '></div>
        <div id="C3" draggable='true' class='BaseBox ColorB '></div>
        <div id="D3" draggable='true' class='BaseBox ColorW '></div>
        <div id="E3" draggable='true' class='BaseBox ColorB '></div>
        <div id="F3" draggable='true' class='BaseBox ColorW '></div>
        <div id="G3" draggable='true' class='BaseBox ColorB '></div>
        <div id="H3" draggable='true' class='BaseBox ColorW '></div>

      </div>

      <div class="BaseLine">

        <div id="A2" draggable='true' class='BaseBox ColorW WhitePawn'></div>
        <div id="B2" draggable='true' class='BaseBox ColorB WhitePawn'></div>
        <div id="C2" draggable='true' class='BaseBox ColorW WhitePawn'></div>
        <div id="D2" draggable='true' class='BaseBox ColorB WhitePawn'></div>
        <div id="E2" draggable='true' class='BaseBox ColorW WhitePawn'></div>
        <div id="F2" draggable='true' class='BaseBox ColorB WhitePawn'></div>
        <div id="G2" draggable='true' class='BaseBox ColorW WhitePawn'></div>
        <div id="H2" draggable='true' class='BaseBox ColorB WhitePawn'></div>

      </div>

      <div class="BaseLine BaseLineBottom">

        <div id="A1" draggable='true' class='BaseBox ColorB WhiteTower'></div>
        <div id="B1" draggable='true' class='BaseBox ColorW WhiteHorse'></div>
        <div id="C1" draggable='true' class='BaseBox ColorB WhiteBishop'></div>
        <div id="D1" draggable='true' class='BaseBox ColorW WhiteQueen'></div>
        <div id="E1" draggable='true' class='BaseBox ColorB WhiteKing'></div>
        <div id="F1" draggable='true' class='BaseBox ColorW WhiteBishop'></div>
        <div id="G1" draggable='true' class='BaseBox ColorB WhiteHorse'></div>
        <div id="H1" draggable='true' class='BaseBox ColorW WhiteTower'></div>
      </div>
    </div>

  </div>

  <script src="/js/ChessEngine.js">
  </script>
  <script src="/js/ChessEngine_Rules.js">
  </script>

  <script src="/js/ChessEngine_Timer.js">
  </script>
</div>