<div class="row">
	<div class="container">
		<div>
			<h1>
			Games
			</h1>
			<p>If you want create new game press "new game".</p>
			<p>
				<a class="btn btn-success" href="/new" method="post">New Game</a>				
			</p>
			<table class="table table-striped table-bordered table-hover"> <!-- table-striped  .table-condensed -->				
				<thead>
					<tr>
						<td>Item
						</td>
						<td>Player 1 (White)
						</td>
						<td>Player 2 (Black)
						</td>
						<td>Current Player
						</td>
						<td>Creation Date
						</td>
						<td>Last Move
						</td>
						<td>Winner
						</td>
						<td>See Game
						</td>
						<td>Challenge
						</td>
						<td>Status
						</td>				
					</tr>
				</thead>
				<tbody>
				<% unless @games.empty? %>				
				<% @games.each do |game| %>							
					<tr>
						<td> <%= game.item %>
						</td>
						<td> <%= game.player1 %>
						</td>
						<td> <%= game.player2 %>
						</td>
						<td> <%= game.currentPlayer %>
						</td>
						<td> <%= game.creationDate %>
						</td>
						<td> <%= game.lastMove %>
						</td>
						<td> <%= game.winner %>
						</td>
						<td>
							<% unless game.player2.nil?  %>	
							<a href="/see?gameId=<%=game.gameId%>" class="btn" method="post">See</a>
							<% end %>
						</td>						
						<td>
							<% if game.player1Id != @user_info['id'] %>	
							<% if game.player2.nil?  %>	
							<a href="/challenge?gameId=<%=game.gameId%>" class="btn" method="post">Play</a>
							<% end %>
							<% end %>						
						</td>
						<td> <%= game.status %>
						</td>
					</tr>
				<% end %>
				<% end %>
				<!-- Comment -->
				</tbody>		
			</table>
		</div>
	</div>
</div>