<div class="row">
	<div class="container">
		<div>
			<h1>
			Games
			</h1>
			<p>If you want play chess press new game button.</p>
			<p>
				<a class="btn btn-success" href="/new" method="post">New Game</a>				
			</p>
			<table class="table table-striped table-bordered table-hover"> <!-- table-striped  .table-condensed -->				
				<thead>
					<tr>
						<td>
							Item
						</td>
						<td>
							Player 1
						</td>
						<td>
							Player 2
						</td>
						<td>
							Url Game
						</td>
						<td>
							Status
						</td>				
					</tr>
				</thead>
				<tbody>
				<% unless @games.empty? %>
				<% @games.each do |game| %>				
					<tr>
						<td> <%= game.gameId %>
						</td>
						<td> <%= game.player1 %>
						</td>
						<td> <%= game.player2 %>
						</td>
						<td> <a href="/chessboard/<%= game.gameId %>"><%= game.url %></a>							
						</td>
						<td> <%= game.status %>
						</td>
					</tr>				
				<% end %>
				<% end %>
				<!-- Comment -->
				</tbody>		
			</table>
		</div>
	</div>
</div>